@import "_mixins/_media-breakpoints"

    

// COLORS
$bg-dark-color:			  		#000000
$bg-white-color:			  	#ffffff
$bg-light-color:          #ededed

$main-accent-color:      #ff9e0a
$main-accentHover-color: #ffc107

$main-accent_vBlue-color:       #00a6ff
$main-accentHover-color_vBlue:  #00c3ffb4
// END COLORS

// @ Media breakpoint

$sm:                    576px
$md:                    768px
$lg:                    992px
$xl:                    1200px
